body {
  margin: 0;
  font-family: "Aviano Wedge W00 Heavy";
  background-color: black;
  color: white;
}

.logo{
  width: 50vw;
  max-width: 800px;
  height: 30vw;
  max-height: 800px;
  
  display: flex;
  margin: 0 auto;
}

@media (min-width:300px)  { 
  /* smartphones */ 
  svg{
    color: red;
  }
}
@media (min-width:600px)  { 
  /* tablets */
  svg{
    color: orange;
  }
}

@media (min-width:1200px) { 
  /* desktops */
  svg{
    color: green;
  }
}